<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Template</title>
    </head> 
    <body style="font-size: 20px;">
	<table style="width:100%;max-width:500px;margin:auto;color:#162e2b;margin-top:2rem;" width="100%" cellpadding="0" cellspacing="0" border="0">
	    <tr style="background-color:#e0f3f7;">
		<td style="padding-inline:2rem;padding-block:0.5rem;border-radius:5px;border:1px solid #9dadb0;">
		    <p>Estimado/a, <b>Jose Moreno</b></p>
		    <p>Espero que este mensaje le encuentre bien.</p>
		    <p>Quisiera confirmar nuestra cita programada para el <b>08-01-2024</b> a las <b>20:40 hrs</b>. Por favor, asegure su asistencia visitando el siguiente enlace.</p>
		    <p>Si necesita modificar algo, no dude en contactarme.</p>
		    <p>Saludos Cordiales</p>
		    <p> - Pia Ulloa</p>
		</td> 
	    </tr>
	    <tr style="margin:auto;text-align: center;">
		<td style="padding-top: 2rem;">
		    <a style="font-size:24px;background-color:#469e95;padding-right:2rem;padding-left:2rem;padding-block:1rem;border-radius: 50px;color:white;text-decoration:none;" href="http://localhost:5158/public/auth/email/" class="cta" target="_blank">Confirmar Reserva</a>
		</td>
	    </tr>
	    <tr>
		<td style="padding-top: 2rem;">
		    <p style="margin:0;padding:0;"><b>Contacto:</b> (+56) 9 3454 4321</p>
		    <p style="margin:0;padding:0;margin-top:5px;"><b>Email:</b> nutricionista.pia@gmail.com</p>
		</td>
	    </tr>
	</table>
    </body>
